@media (max-width: 500px) {
    #navbar{
      display:none;
    }
    main{
      margin-left:10px !important;
    }
  }
  
  body{
    background-color:#121212;
    color:white;
    font-family:arial;
  }
  
  nav{
    height:100%;
    position:fixed;
    width:150px;
    top:10px;
    border:white 1px;
    border-style:solid;
    padding:20px;
  }
  
  .nav-link{
    display:block;
    margin:5px;
    padding:15px;
    color:white;
    text-decoration:none;
    border-top:1px solid;
    display:border-box;
  }
  
  .nav-link:last-of-type{
    border-bottom:1px solid;
  }
  
  .nav-link:hover{
    background-color:gray;
  }
  
  header{
    font-weight:500;
    font-size:1.5em;
    margin-bottom:35px;
  }
  
  p{
    margin:25px;
  }
  
  main{
    margin-left:250px;
    margin-top:50px;
  }
  
  code{
    background-color:gray;
    padding:15px 25px;
    margin:15px 35px;
    box-sizing:content-box;
    display:block;
    border-radius:4px;
  }